@import '~bootstrap/scss/bootstrap.scss';

body {
    background-color: rgba(132, 192, 209, 0.404);
}

.loading{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.infoTitle {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
}
.offlineLoggin {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    
    &:hover {
        color: #0056b3;
        cursor: pointer;
        text-decoration: underline;
    }
}
.table {
    margin-top: 2rem;
}


.formList {
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin-top: 1rem;
    }
}